.weather-app {
  max-width: 600px;
  margin: 100px auto;
  padding: 60px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(248, 219, 219) 0%,
    rgb(229, 248, 250) 90%
  );
  border-radius: 20px;
}

.row {
  text-align: center;
}

.cloud {
  font-size: 48px;
}

.search-bar {
  margin-bottom: 20px;
}

.temp-c {
  display: inline;
  font-size: 58px;
}

.units {
  position: relative;
  top: -72px;
  right: -53px;
}
